In [4]:
import pandas as pd 

df = pd.read_excel('../data/data.xlsx')
df

   班级  姓名   语文   数学   英语
0   1  张三  105   99  140
1   2  李四  120  111  130
2   3  王五  149  123  147
3   1  小明   99  101  110
4   2  废品  127  133  129
5   3  啦啦  111  119  120
6   1  哦哦   78   99   90
7   2  欧克   99   90  134
8   3  玩玩   98  134  123

In [8]:
xlsx = pd.ExcelWriter(r"../output/result.xlsx") # 文件输出路径
for c in df['班级'].unique(): # 循环班级
    df1 = df[df['班级'] == c] # 选出数据
    df1.to_excel(xlsx, sheet_name="{}班".format(c), index=False) # 保为 sheet
    print("%s 班保存完成" % c)
xlsx.close() # 关闭文件

1 班保存完成
2 班保存完成
3 班保存完成